.hidden {
	display: none;
}

a.dfn {
	border-bottom: 1px dotted #00aa00;
	cursor: help;
}

a.dfn:active, a.dfn:link, a.dfn:visited {
	color: #000000;
	text-decoration: none;
}

a.dfn:hover {
	color: #0000ff;
	text-decoration: none;
}

div.footer {
	font-size: 68%;
	margin-top: 1.5em;
}

div.percentgraph
{
	background-color: #f02020;
	border: #808080 1px solid;
	height: 1.3em;
	margin: 0px;
	padding: 0px;
	width: 100px;
}

div.percentgraph div.greenbar
{
	background-color: #00f000;
	height: 1.3em;
	margin: 0px;
	padding: 0px;
}

div.percentgraph div.na
{
	background-color: #eaeaea;
	height: 1.3em;
	margin: 0px;
	padding: 0px;
}

div.percentgraph span.text
{
	display: block;
	position: absolute;
	text-align: center;
	width: 100px;
}

div.separator {
	height: 10px;
}


table.percentgraph {
	border: 0px;
	font-size: 130%;
	margin: 0px;
	margin-left: auto;
	margin-right: 0px;
	padding: 0px;
}

table.percentgraph tr.percentgraph {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

table.percentgraph td.percentgraph {
	border: 0px;
	margin: 0px;
	padding: 0px;
	padding-left: 4px;
}

table.report {
	border-collapse: collapse;
	width: 100%;
}

table.report td {
	border: #d0d0d0 1px solid;
    font-size: 14px;
}

table.report td.heading {
    background: #dcecff;
	font-weight: bold;
	text-align: center;
}

table.report td.heading:hover {
    background: #c0ffc0;
	cursor: pointer;
}

table.report td.value {
	text-align: right;
}
