body, table {
    font-size:14px;
    font-family:'Lucida Grande', sans-serif;
    font-weight:normal;
    color:#333;
}

table {
    height:100%;
}

textarea {
    font-size:14px;
    font-family:'Lucida Grande', sans-serif;
    font-weight:normal;
    color:black;
    resize:none;
}

.firstcolumn {
    padding-right: 10px;
    border-right-width:1px;
    border-right-color:#41809B;
    border-right-style:solid;
    vertical-align:top;
}

.user {
    font-weight:bold;
    color:#41809B;
}

.tag {
    font-weight:normal;
    color:#41809B;
}

.rulefor {
    font-weight:normal;
    color:#41809B;
    padding-bottom: 5px;
}

.ruleforheader {
    padding-right:10px;
}

.button {
    background-color: #DDD;
    border-bottom-color: #888;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-left-color: #999;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #999;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-decoration: none;
    color: #333;
}

